* {
    box-sizing: border-box;
}

:root {
    --regular-font: 'Ubuntu', sans-serif;
    --heading-font: 'Clicker Script', cursive;
    font-size: 18px;
    --main-color: #D9A7A3;
}

body {
    font-family: var(--regular-font);
}

/* NAVBAR */

.menu__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 30vh;
    background-color: #fff;
}

.menu__container {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.menu__items {
    flex-basis: calc(55%/2);
    /* width: 100%; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.menu__items li {
    list-style: none;
    text-transform: uppercase;
    flex-basis: 30%;
}

.menu__items a {
    text-decoration: none;
}

.menu__logo {
    flex-basis: 45%;
    font-family: var(--heading-font);
    font-size: 3.5rem;
    color: var(--main-color);
    text-align: center;
}

/* HERO */

.hero__section {
    width: 100%;
    height: 70vh;
    margin-top: 30vh;
    background-image: url(../assets/img/IMG_0191.jpeg);
    background-position: center;
    background-size: cover;
}

/* MAIN-CONTENT */

.main-content__section {
    display: flex;
    margin: 5% 0;
}

.main-content__aside {
    flex-basis: 40%;
}

.main-content__txt {
    flex-basis: 60%;
    margin-right: 5%;
}