* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --regular-font: 'Ubuntu', sans-serif;
    --heading-font: 'Clicker Script', cursive;
    --main-color: #D9A7A3;
    --font-color: #484848;
}

body {
    font-family: var(--regular-font);
    font-size: 18px;
    color: var(--font-color);
    font-weight: 300;
}

/* NAVBAR */

.menu__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 15vh;
    background-color: grey;
    z-index: 1;
}

.menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 15vh;
    /* height: 50vh; */
    background-color: rgb(206, 212, 185);
}

.menu__items {
    /* display: flex; */
    font-size: .8rem;
    /* width: 100vw; */
    /* height: 200px; */
    /* align-items: center; */
    background-color: rgb(216, 112, 219);
}

.menu__items li {
    list-style: none;
    text-transform: uppercase;
    /* flex-direction: row; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
    padding: 10px;
    background-color: rgb(101, 218, 146);
    text-align: center;
    border: 2px solid red;
    /* display: inline; */
}

.menu__items li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--font-color);
    -webkit-transition: width .3s;
    transition: width .3s;
}

.menu__items li:hover::after {
    width: 100%;
    height: 100%;
    padding: 0;
}

.menu__items a {
    display: block;
    text-decoration: none;
    color: inherit;
    letter-spacing: 1.5px;
    padding: 0;
}

.menu__logo {
    flex-basis: 42%;
    font-family: var(--heading-font);
    font-size: 3.5rem;
    color: var(--main-color);
    text-align: center;
    line-height: 3.5rem;
    order: -1;
    font-size: 2.8rem;
    margin: 5%;
    align-self: flex-start;
    flex-basis: 20%;
    background-color: rgb(137, 145, 214);
}

.menu__burger .fa-angle-up {
    display: none;
}

.menu__burger .fa-bars {
    display: block;
    color: var(--main-color);
    font-size: 2rem;
    margin: 8% 8%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #484848;
}